---
import Layout from "../layouts/Layout.astro";
import stories from "../components/tilesData";
import StoryTile from "../components/storyTile.svelte";

const title = 'Community Picks | CoNexus';
const header = 'Community Picks';
const subheading = `
Community Picks are stories that aren't bound to any project or genre but have been demanded, written, or voted in by the
<a href="https://opensea.io/collection/potentials-eth" target="_blank">Potentials</a>
holders.`;
const arrow = true;
---


<Layout {title} {header} {subheading} {arrow}>

  {stories.filter(section => section.section === header).map(section => 
    <>
      {
        section.subsection.map(subsection => 
          <p class="tiles-collection-legend">{subsection.name}</p>
          <section class="tiles-collection">
            {subsection.story.map(story => 
              <StoryTile 
                storyName={story.title}
                storyDescription={story.description}
                storyLink={story.storyLink}
                primaryThumbnail={story.primaryThumbnail}
                secondaryThumbnail={story.secondaryThumbnail}
                descriptionPicture={story.descriptionImage}
                playButton="PLAY NOW"
                client:load
              />
            )}
          </section>
        )
      }
    </>
  )}

</Layout>