---
import Layout from "../layouts/Layout.astro";
import TilesCollection from "../components/TilesCollection.svelte";

const title = "Community Picks | CoNexus";
const header = "Community Picks";
const subheading = `
Community Picks are stories that aren't bound to any project or genre but have been demanded, written, or voted in by the
<a href="https://magiceden.io/collections/ethereum/0xfa511d5c4cce10321e6e86793cc083213c36278e" target="_blank">Potentials</a>
holders.`;
const arrow = true;

const filters = true;
const bigCollection = true;

let showGenres: boolean = false;
---

<Layout {title} {header} {subheading} {arrow}>
  <TilesCollection
    sectionName="Community Picks"
    {filters}
    {bigCollection}
    client:load
  />
</Layout>
