---
import Layout from "../layouts/Layout.astro";
import stories from "../components/tilesData";
import StoryTile from "../components/storyTile.svelte";

const title = 'Dischordian Saga | CoNexus';
const header = 'Dischordian Saga';
const subheading = `
The Dischordian Saga led to the creation of CoNexus and tells the epic narrative of wars between Artificial Intelligence and Humanity. Its story nodes, voted on by the
<a href="https://magiceden.io/collections/ethereum/0xfa511d5c4cce10321e6e86793cc083213c36278e" target="_blank">Potentials</a>
holders, evolve the lore and activate a new story within CoNexus each week.
`;
const arrow = true;
---


<Layout {title} {header} {subheading} {arrow}>

  {stories.filter(section => section.section === header).map(section => 
    <>
      {
        section.subsection.map(subsection => 
          <p class="tiles-collection-legend">{subsection.name}</p>
          <section class="tiles-collection">
            {subsection.story.map(story => 
              <StoryTile 
                storyName={story.title}
                storyDescription={story.description}
                storyLink={story.storyLink}
                primaryThumbnail={story.primaryThumbnail}
                secondaryThumbnail={story.secondaryThumbnail}
                descriptionPicture={story.descriptionImage}
                playButton="PLAY NOW"
                client:load
              />
            )}
          </section>
        )
      }
    </>
  )}

</Layout>